<section id="faq" class="faq">
	<div class="header">
		<h2>FAQ</h2>
		<h3>Comment participer à une étude ?</h3>
	</div>
	<div class="content">
		<h4>Q1 - Comment faire ma demande pour participer à une étude ? <span class="glyphicon glyphicon-triangle-bottom"></span></h4>
		<p>Une fois que tu as adhéré à la JEMA, tu es automatiquement inscrit sur notre mail liste pour recevoir nos offres d’étude. Lorsqu’une étude t’intéresse, tu nous envoies ton CV et ta lettre de motivation. Nous traiterons ta demande et te ferons passer un entretien. Tu recevras ensuite une réponse sous 48h.</p>
		<h4>Q2 - Comment connaître le nombre de places disponibles pour une étude ? <span class="glyphicon glyphicon-triangle-bottom"></span></h4>
		<p>Dès que nous avons une étude, nous envoyons un mail à notre mail liste adhérent. Sur celui-ci, nous décrivons le travail que les étudiants seront amenés à faire, le nombre de place disponibles ainsi que le montant de la rémunération.</p>
		<h4>Q3 - Une fois ma demande acceptée, que dois-je faire ? <span class="glyphicon glyphicon-triangle-bottom"></span></h4>
		<p>Tu n’as rien à faire. Le chargé d’étude qui t’accompagnera tout au long de ton travail te contactera rapidement pour fixer une réunion.</p>
		<h4>Q4 - Quelles missions peuvent m'être confiées ? <span class="glyphicon glyphicon-triangle-bottom"></span></h4>
		<p>Cela dépend des études que nous trouvons et les missions confiées aux étudiants sont très variées. Tu peux être amené à faire des enquêtes, des diagnostics environnementaux sur le terrain, du travail bibliographique ou encore de la conception de produits agroalimentaires innovants !</p>
		<h4>Q5 - Suis-je rémunéré en participant à une étude ? <span class="glyphicon glyphicon-triangle-bottom"></span></h4>
		<p>Tout travail mérite salaire ! Tu es effectivement payé en effectuant une étude.</p>
		<h4>Q6 - Que se passe-t-il si je ne réalise pas les missions demandées ou si le résultat n'est pas à la hauteur des attentes ? <span class="glyphicon glyphicon-triangle-bottom"></span></h4>
		<p>Un chargé d'étude t'accompagne pour que le travail que tu accomplis soit en accord avec la demande ; il effectue le lien entre le client et toi pour assurer la bonne réalisation de l'étude. Si tu as un doute, une question, il ne faut donc pas hésiter à le contacter !<br><br>Dans tous les cas, le client dispose d'une période de garantie au cours de laquelle il est en droit de demander des modifications. Dans ce cas, si le travail ne convient pas, tu seras amené à le reprendre.</p>
	</div>
</section>