<section id="member" class="member">
	<div class="header">
		<h2>Vis l'aventure de l'intérieur</h2>
	</div>
	<div class="content">
		<p>Tu veux t’investir dans la vie étudiante de ton école ? Développer des compétences transversales ? Rencontrer des professionnels et étendre ton réseau ? Et puis surtout t’amuser ?</p>
		<h3>Deviens membre actif !</h3>
		<p>Être membre actif, c’est devenir Junior-Entrepreneur et participer au fonctionnement de ta Junior-Entreprise (la nôtre c’est la JEMA). C’est aussi faire partie du plus grand regroupement étudiant de France : la Confédération Nationale des Junior-Entreprises (CNJE) !</p>
		<p>Mise en place de projets d’envergure, contact avec des professionnels, gestion d’équipe et de budget, stratégie, communication… Il y a forcément un pôle pour toi !</p>
	</div>
	<ul class="actions">
		<li>
			<a href="#team" class="scrollspy button-2" onclick='if ($(window).width()>768){$(".information>.team").trigger( "click" );}else{$(".information>.team>.header>h2").trigger( "click" );}'>Quels sont les pôles ?</a>
		</li>
	</ul>
</section>