/*****************************************************************************/
/*****************************************************************************/
/*------------------------------HEADER-COMPANY-------------------------------*/
/*****************************************************************************/
/*****************************************************************************/

header{
	background-image: url('../../media/images/company-header.jpg');
}

/***********************************************************************/
/***********************************************************************/
/*-------------------------------CONTENT-------------------------------*/
/***********************************************************************/
/***********************************************************************/

section h2{
    border-bottom:4px solid rgba(37,105,26,0.5);
}

/***********************************************************************/
/***********************************************************************/
/*--------------------------------SKILLS-------------------------------*/
/***********************************************************************/
/***********************************************************************/

section.skills{
	margin-top: 5em;
	padding-bottom: 5em;
	background-color:rgba(179,215,159,0.6);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
}

.skills .header{
	margin-bottom: 1em;
}

.skills .content p{
	margin-bottom: 0.5em;
}

.skills .content{
	padding-bottom:2em;
	border-bottom: solid 2px rgba(37,105,26,0.1);
	margin-bottom: 3em;
}

.skills .skills-container{
	display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width:calc(100% + 3em);
    margin-left:-3em;
}

.skills .skills-container h3{
	width: 100%;
	margin-left:3em;
}

.skills .skills-container .skills-descriptions{
	width: calc(50% - 3em);
	margin-left:3em;
}

.skills .skills-container .skills-titles{
	display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;

    display: flex;

    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

    justify-content: center;
    -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: bottom;

    width:calc(50% - 2em);
    margin-left:2em;
}

.skills .skills-container .skills-titles>div{
	margin-bottom:1em;
	margin-left: 1em;
    width:calc(calc(100% / 3.15) - 1em);
    text-align: center;
    color:white;
    background-color:rgba(37,105,26,0.5);
    padding:1.5em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    height: 13em;
}

.skills .skills-container .skills-titles>div:hover{
    background-color:rgba(37,105,26,0.8);
}

.skills .skills-container .skills-titles>div>span{
	font-size:4em;
	width: 100%;
	margin-bottom:0.5em;
}

.skills .skills-container .skills-titles>div>.glyphicon-grape{
    content: '';
    background-image: url('../../media/images/grapes.png');
    height:1em;
    background-size: contain;
    width:1em;
    background-repeat: no-repeat;
    margin:auto;
    display: block;
    margin-bottom:0.5em;
}

.skills .skills-container .skills-titles>div>h4{
	vertical-align: bottom;
	display: inline;
	font-size:1.125em;
}

.skills .skills-container .skills-titles>div.active{
	width:33%;
    background-color:rgba(37,105,26,0.8);
}

.skills .skills-container .skills-titles>div.active>span{
	animation: float 1s infinite;
}

.skills .skills-container .skills-descriptions>div{
	display: none;
}

.skills .skills-container .skills-descriptions>div.active{
	display: block;
    animation: informationtransition 1s ease-in-out 0s forwards;
}

.skills .skills-container .skills-descriptions>div>h4{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    border-bottom:4px solid rgba(37,105,26,0.5);
    display: inline-block;
    padding:0 0.5em 0.5em 0;
    margin: 0 0 0.5em 0;
}

.skills .skills-container .skills-descriptions>div>h5{
    font-family: "Roboto Slab", serif;
    font-size:1.125em;
}

.skills .skills-container .skills-descriptions>div>h5>span{
    margin-left:0.5em;
}

.skills .skills-container .skills-descriptions>div>p>span{
	margin-right:1em;
}

.skills .glyphicon-arrow-up{
    display: none;
}

.skills .skills-container .skills-descriptions>div>.studies{
	display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width:calc(100% + 2em);
    margin-left:-2em;
}

.skills .skills-container .skills-descriptions>div>.studies>div{
    width:calc(50% - 2em);
    margin-left:2em;
}

.skills .skills-container .skills-descriptions>div>.studies>div>h6{
    font-size:1em;
    line-height: 1.5;
}

.skills .skills-container .skills-descriptions>div>.studies>div>p{
    font-style: italic;
}

@media only screen and (max-width: 992px) {
    .skills .skills-container .skills-descriptions,.skills .skills-container .skills-titles{
        width: 100%;
        margin:0;
        margin-left:2em;
    }

    .skills .skills-container .skills-titles{
        margin-bottom: 2em;
    }

    .skills .skills-container .skills-titles>div{
        margin-bottom:0.5em;
        margin-left: 0.5em;
        width:calc(calc(100% / 2.25) - 1em);
        height: 10em;
    }

    .skills .skills-container .skills-titles>div>span{
        font-size:3em;
    }

    .skills .skills-container .skills-descriptions>div>p>span{
        display: none;
    }

    .skills .glyphicon-arrow-up{
        display: inline-block;
    }

    .skills .skills-container .skills-titles>div.active{
        width:55%;
    }
}

@media only screen and (max-width: 767px) {
    .skills .skills-container .skills-titles>div{
        margin-bottom:0.5em;
        margin-left: 0.5em;
        width:calc(calc(100% / 2.25) - 1em);
        height: 11.5em;
    }

    .skills .skills-container .skills-titles>div>h4{
        font-size:0.8em;
    }

    .skills .skills-container .skills-titles>div>span{
        font-size:2em;
    }

    .skills .skills-container .skills-descriptions>div>.studies{
        width:100%;
        margin-left:0em;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    }

    .skills .skills-container .skills-descriptions>div>.studies>div{
        width:100%;
        margin:0em;
    }
}

/***********************************************************************/
/***********************************************************************/
/*-----------------------------UNDERTAKING-----------------------------*/
/***********************************************************************/
/***********************************************************************/

.undertaking h2{
	margin-bottom: 1em;
}

.undertaking h3>i{
	margin-right:0.25em;
	font-size:4em;
	color:rgba(37,105,26);
}

/***********************************************************************/
/***********************************************************************/
/*--------------------------------DEVIS--------------------------------*/
/***********************************************************************/
/***********************************************************************/

section.devis{
	margin-top: 5em;
	padding-bottom: 5em;
	background-color:rgba(179,215,159,0.6);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
}