.social-nav{
	position: absolute;
	right: 0;
	top:0;
	margin:0;
	transition: 0.4s ease-in-out;
	z-index:2000;
	margin:1.75em 2em 0 0;
	padding:0;
}

	.social-nav-active{
		opacity: 0.3;
		z-index: 5;
	}

.social-nav a{
	border-radius: 0;
	margin-left:0.5em;
	cursor:pointer;
	transition: 0.2s ease-in-out;
	font-size:2.5em;
	background-color:transparent;
	color:white;
	float:right;
	display: block;
}

.social-nav a:nth-child(1):before{
	font-family: FontAwesome;
	content:"\f082";
	z-index:20;
}

.social-nav a:nth-child(2):before{
	font-family: FontAwesome;
	content:"\f081";
	z-index:21;
}

.social-nav a:nth-child(3):before{
	font-family: FontAwesome;
	content:"\f08c";
	z-index:22;
}

.social-nav a:nth-child(4):before{
	font-family: FontAwesome;
	content:"\f199";
	z-index:23;
}

.social-nav a:hover{
	color:#B3FF83;
}

@media only screen and (max-width: 992px) {
	.social-nav a{		
		margin-left:0.2em;
	}
}

/*****************************************************************************/
/*****************************************************************************/
/*------------------------------HEADER-ACCUEIL-------------------------------*/
/*****************************************************************************/
/*****************************************************************************/

header.header{
	overflow:hidden;
	margin:0;
	background-image: url('../../media/images/index_header.jpg');
	height:100vh;
	min-height:0;
	background-attachment: fixed;
	position:relative;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3) inset;
}

/*.last-news{
	background-color: rgba(0,0,0,0.3);
	color:white;
	text-align: center;
	position: absolute;
	top:50px;
	min-height:60px;
	max-height:120px;
	width:100%;
	transition: 0.2s ease-in-out;
}

.last-news p{
	transition: 0.2s ease-in-out;
	padding:10px;
	max-width:65%;
	margin:auto;
	margin-top:5px;
}

.last-news a{
	color:white;
	font-weight:bold;
	border:2px solid white;
	border-radius:20px;
	padding:4px 12px 4px 12px;
	transition:0.1s;
	display: inline-block;
}

.last-news a:hover{
	color:#555;
	text-decoration: none;
	background-color:white;
	transition:0.1s;
}*/

.main-title{
	display: block;
	width: 100%;
	margin-top:18em;
    text-shadow: none;
}

.main-title h1{
	font-weight: normal;
	opacity: 0;
	animation: opacitytransition 0.5s ease-in-out 1.4s forwards;
}

.main-title h2{
	margin-bottom:3em;
}

.main-title a:before{
	animation: opacitytransition 1.5s ease-in-out 2.4s forwards;
}

@media only screen and (max-width: 992px) {
	header.header{
		background-image: url('../../media/images/index-min-header.jpg');
	}

	.main-title h1{
		font-size:3.5em;
		text-align: left;
	}

	.main-title h2{
		text-align: left;
		font-size:1.5em;
	}
}

@media only screen and (max-width: 767px) {

	.main-title h1{
		font-size:2.5em;
		text-align: center;
	}

	.main-title h2{
		text-align: center;
		font-size:1.25em;
	}
}

/***********************************************************************/
/***********************************************************************/
/*--------------------------------ABOUT--------------------------------*/
/***********************************************************************/
/***********************************************************************/

.about{
	padding: 5em 5em 0.1em 5em;
	margin-bottom:5em;
}

.about .wrapper,.school-numbers .wrapper{
	display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.about .content{
    width: 50%;
    margin:auto;
    text-align: center;
}

.about .content .header h2,.school-numbers .header h2{
	font-size: 3.5em;
	margin: 0 0 0.5em 0;
    line-height: 1.5;
    color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
	border-bottom:4px solid rgba(91,179,43,0.5);
}

.about .content h3{
	font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: uppercase;
    margin: 0 0 2em 0;
    line-height: 1.7;
}

.about .actions li{
	margin:auto;
}

.about .actions li a{
	margin-top:1em;
}

.about p{
	text-align: justify;
}

.image-container .image{
	margin-bottom:2em;
}

@media only screen and (max-width: 992px) {
	.about .content{
	    width: 75%;
	}
	.about .content .header h2,.school-numbers .header h2{
		font-size: 3em;
	}
}

@media only screen and (max-width: 767px) {
	.about .content{
	    width: 100%;
	}
	.about .content .header h2,.school-numbers .header h2{
		font-size: 2.5em;
	}
}

/***********************************************************************/
/***********************************************************************/
/*-------------------------------REDIRECT------------------------------*/
/***********************************************************************/
/***********************************************************************/

.redirection{
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height:34em;
	overflow: hidden;
	background-image: url('../../media/images/redirection.jpg');
	min-height:0;
	background-attachment: fixed;
	background-position: top;
	position:relative;
	background-size:cover;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
}

.redirection>article{
	width: 50%;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
}

.redirection a{
	display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
    -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
    transition: background-color 0.5s ease, transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 0;
    color: #333;
    text-align: center;
    text-decoration: none;
    z-index: 3;
    background-color: rgba(0,0,0,0.1);
}

.redirection .content {
	-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
	-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
	-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	max-height: 0;
	line-height: 1.5;
	margin-top: 0.35em;
	opacity: 0;
	padding: 0;
    width:65%;
}

.redirection a h2{
	font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    font-size: 1.4em;
	margin-bottom: 0.75em;
  	position: relative;
  	opacity: 0;
  	padding:0 0.5em;
}

.redirection a h2.activated{
	animation: navbarlinktransition 0.4s ease-in-out 0s forwards;
}

.redirection a p{
	margin-bottom: 0.5em;
}

.redirection a .redirect-button{
	font-size:1.15em;
	margin-top:1.5em;
	font-weight: 900;
    line-height: 1.5;
	background-color:rgba(91,179,43,0.3);
    padding:0.5em 1em 0.5em 1em;
}

.redirection .content p span{
	margin-left:1em;
}

.redirection a>.content>span{
	font-size:4em;
	margin-bottom:0.5em;
	animation: float 1.5s infinite;
}

.redirection article:hover > a{
    background-color: rgba(0,0,0,0);
}

.redirection article:hover .content{
    max-height: 20em;
    opacity: 1;
}

@media only screen and (max-width: 992px) {
	.redirection{
		height:42em;
	}
	.redirection article:hover .content{
	    max-height: 30em;
	}
}

@media only screen and (max-width: 767px) {
	.redirection>article{
		width: 100%;
		border-bottom:2px solid white;
	}
	.redirection{
		height:40em;
	}
	.redirection article .content{
	    height:auto;
	    max-height:none;
	    opacity: 0.5;
	}
	.redirection article:hover .content{
	    opacity: 1;
	    max-height:none;
	}
	.redirection a>.content>span{
		animation: none;
	}
	.redirection article:hover .content>span{
		animation: float 1.5s infinite;
	}
	.redirection a h2{
	    font-size: 1.125em;
	}

	.redirection a p:not(.redirect-button){
		display: none;
	}

}

/***********************************************************************/
/***********************************************************************/
/*-------------------------------NUMBERS-------------------------------*/
/***********************************************************************/
/***********************************************************************/

.school-numbers{
	border-top:solid 2px rgba(91,179,43,0.3);
	margin: 0em 5em 5em 5em;
	padding: 5em 0 0 0;
}

.school-numbers .header h2{
	font-size: 1.75em;
	padding: 0 0.75em 0.5em 0;
	border-bottom: none;
	display: inline-block;
    margin: 0 0 5em 0;
    width: 100%;
    text-align: center;
}

.school-numbers .numbers{
	display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	text-align: center;
}

.school-numbers .numbers>div{
	width:25%;
	text-align: center;
	margin-bottom:3em;
	opacity: 0;
}

.school-numbers .numbers-activated>div::before{
	font-family: FontAwesome;
	font-weight: 900;
	position: absolute;
	width:100%;
	font-size:13em;
	top:-50%;
	left:0;
	color:rgba(91,179,43,0.4);
	z-index: -1;
}

.school-numbers .numbers-activated>div:nth-child(1){
	animation: numberstransition 2s ease-in-out 0s forwards;
}

.school-numbers .numbers-activated>div:nth-child(1):before{
	content: "\f2db";
}

.school-numbers .numbers-activated>div:nth-child(2){
	animation: numberstransition 2s ease-in-out 0.5s forwards;
}

.school-numbers .numbers-activated>div:nth-child(2):before{
	content: "\f0c3";
}

.school-numbers .numbers-activated>div:nth-child(3){
	animation: numberstransition 2s ease-in-out 1s forwards;
}

.school-numbers .numbers-activated>div:nth-child(3):before{
	content: "\f02d";
}

.school-numbers .numbers-activated>div:nth-child(4){
	animation: numberstransition 2s ease-in-out 1.5s forwards;
}

.school-numbers .numbers-activated>div:nth-child(4):before{
	content: "\f19d";
}

.school-numbers .numbers>div>span{
	display: block;
	font-size:5em;
	margin-bottom:0.65em;
	color:#333;
}

.school-numbers .numbers>div>h3{
	font-size: 1.25em;
}

@media only screen and (max-width: 992px) {
	.school-numbers{
		margin-bottom: 0;
	}
	.school-numbers .numbers>div{
		width:50%;
		margin-bottom: 5em;
	}
}

@media only screen and (max-width: 767px) {
	.school-numbers{
		margin-bottom: 0;
	}
	.school-numbers .numbers>div{
		width:100%;
	}

	.school-numbers .numbers-activated>div::before{
		font-size:10em;
		top:-25%;
	}

}

/***********************************************************************/
/***********************************************************************/
/*---------------------------------CNJE--------------------------------*/
/***********************************************************************/
/***********************************************************************/

.about.cnje{
	padding: 5em;
	margin-bottom: 0;
	background-color:rgba(179,215,159,0.6);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
}

.cnje .image-container{
	width:10em;
}

.about.cnje>.content{
	width: 100%;
	margin-bottom: 4em;
	text-align: left;
}

.features{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	align-items: start;
    margin: 0 0 2em -3em;
    width: calc(100% + 3em);
}

.features article:nth-child(2n - 1) {
    margin-right: 1.5em;
}

.features article:nth-child(2n) {
    margin-left: 1.5em;
}

.features article{
	display: flex;
    margin: 0 0 3em 3em;
    position: relative;
    width: calc(50% - 3em);
}

.features article .icon {
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    display: block;
    height: 10em;
    line-height: 10em;
    margin: 0 2em 0 0;
    text-align: center;
    width: 10em;
}

.features article .icon:before {
    color: rgba(91,179,43);
    font-size: 5rem;
    position: relative;
}

.features article .icon:after {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 0.25rem;
    border: solid 2px rgba(255,255,255,0.3);
    content: '';
    display: block;
    height: 7em;
    left: 50%;
    margin: -3.5em 0 0 -3.5em;
    position: absolute;
    top: 50%;
    width: 7em;
}

.features article .content {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
    text-align: justify;
}

.features .content h3{
	font-size: 1.25em;
	color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
    text-transform: none;
    padding: 0;
}

.cnje .actions li{
	margin:0;
}

@media only screen and (max-width: 992px) {
	.features{
	    margin: 0 0 2em -2em;
	    width: calc(100% + 2em);
	}
	.features article .icon {
	    height: 5em;
	    line-height: 5em;
	    margin: 0 2em 0 0;
	    width: 5em;
	}
	.features article .icon:before {
	    font-size: 4rem;
	}

	.features article .icon:after {
	    height: 5em;
	    margin: -2.5em 0 0 -2.5em;
	    width: 5em;
	}
	.features article:nth-child(2n - 1) {
	    margin-right: 1em;
	}

	.features article:nth-child(2n) {
	    margin-left: 1em;
	}

	.features article{
	    margin: 0 0 2em 2em;
	    width: calc(50% - 2em);
	}
}

@media only screen and (max-width: 767px) {
	.features{
		margin-left: 0;
		width: 100%;
	}

	.features article .icon {
	    display: none;
	}
	.features article:nth-child(2n - 1) {
	    margin-right: 0em;
	}

	.features article:nth-child(2n) {
	    margin-left: 0em;
	}

	.features article{
	    margin: 0 0 1em 0em;
	    width:100%;
	}

}