<section id="information" class="information">
	<div id="team" class="team">
		<div class="header">
			<h2>L'équipe <span class="glyphicon glyphicon-chevron-down"></span></h2>
		</div>
		<div class="content">
			<div class="description-container">
				<p>Elle est composée de 23 élèves ingénieurs de Montpellier SupAgro et est renouvelée annuellement suite à une formation de 4 mois auprès de l’équipe précédente. Motivés et dynamiques, les membres de la JEMA s’investissent pour que l’association ne cesse de progresser. Ils sont à votre service pour vous fournir les meilleures prestations.</p>
			</div>
			<img class="image" src="media/images/team/team.jpg">
		</div>
	</div>
	<div class="about active">
		<div class="header">
			<h2>Présentation</h2>
			<h3>Qui sommes-nous ?</h3>
		</div>
		<div class="content">
			<p>La JEMA (Junior Etude Montpellier Agro) est la Junior-Entreprise de Montpellier Supagro. Elle  a été fondée en 2009 à l’initiative d’Audrey Tardieu, étudiante de Montpellier SupAgro, qui avait pour projet de créer une <strong>structure professionnelle</strong> gérée par des étudiants de l’école, à l’image d’une Junior-Entreprise. Son but était de permettre aux élèves de se familiariser avec le monde de l’entreprise dès leur intégration dans l’école.</p>
			<p>Depuis 2009, la JEMA ne cesse de s’améliorer en s’appuyant sur des partenaires de confiance comme <strong>AgroValo Méditerranée</strong> et <strong>Montpellier SupAgro Alumni</strong>. Ces derniers contribuent vivement à l’amélioration du fonctionnement de la JEMA par leurs conseils et leur implication.</p>
			<p>Aujourd’hui la JEMA compte une vingtaine de membres actifs et plus de 400 adhérents.</p>
		</div>
	</div>
	<div class="history">
		<div class="header">
			<h2>Historique <span class="glyphicon glyphicon-chevron-down"></span></h2>
		</div>
		<ul class="content">
			<li>
				<h3>2017-2018 (équipe actuelle)</h3>
				<div class="content">
					<p>Création du nouveau site internet de la JEMA, mise en place de la gestion des anciens, optimisation des processus de suivi d’étude, 10 années d’expérience de la Junior.</p>
					<h4>Voir l'équipe</h4>
					<img class="image" src="media/images/team/team.jpg">
				</div>
			</li>
			<li>
				<h3>2016-2017</h3>
				<div class="content">
					<p>Rayonnement de la JEMA au sein de l'école, auprès des étudiants, des enseignants et de l'administration, mise en place d'indicateurs au sein de la Junior-Entreprise.</p>
					<h4>Voir l'équipe</h4>
					<img class="image" src="media/images/team/team-2016-17.jpg">
				</div>
			</li>
			<li>
				<h3>2015-2016</h3>
				<div class="content">
					<h4>Voir l'équipe</h4>
					<img class="image" src="media/images/team/team-2015-16.jpg">
				</div>
			</li>
			<li>
				<h3>2014-2015</h3>
				<div class="content">
					<p>Obtention du label Junior Entreprise pour la JEMA : une opportunité pour valoriser et certifier la qualité du travail de la JEMA.</p>
				</div>
			</li>
			<li class="inactive">
				<h3>2013-2014</h3>
			</li>
			<li class="inactive">
				<h3>2012-2013</h3>
			</li>
			<li>
				<h3>2011-2012</h3>
				<div class="content">
					<p>Intégration à la CNJE.</p>
				</div>
			</li>
			<li class="inactive">
				<h3>2010-2011</h3>
			</li>
			<li>
				<h3>2009-2010</h3>
				<div class="content">
					<p>Première étude de la JEMA : « Etude de positionnement de la production de légumes sous serres à énergie renouvelable en Languedoc-Roussillon ».</p>
				</div>
			</li>
			<li>
				<h3>2008-2009</h3>
				<div class="content">
					<p>Création de la JEMA à l’initiative d’Audrey Tardieu.</p>
				</div>
			</li>
		</ul>
	</div>
</div>