<section id="skills" class="skills">
	<div class="header">
		<h2>Nos domaines de compétence</h2>
	</div>
	<div class="skills-container">
		<h3>Nos 5 domaines de prédilection</h3>
		<div class="skills-titles">
			<div>
				<span class="glyphicon glyphicon-apple"></span>
				<h4>Production végétale et animale</h4>
			</div>
			<div>
				<span class="glyphicon glyphicon-grape"></span>
				<h4>Viticulture</h4>
			</div>
			<div>
				<span class="glyphicon glyphicon-globe"></span>
				<h4>Agriculture dans les pays du Sud</h4>
			</div>
			<div>
				<span class="glyphicon glyphicon-grain"></span>
				<h4>Agro<br>alimentaire</h4>
			</div>
			<div>
				<span class="glyphicon glyphicon-phone"></span>
				<h4>Agriculture numérique</h4>
			</div>
		</div>
		<div class="skills-descriptions">
			<div>
				<h4>Production végétale et animale</h4>
				<p>Réalisation et pilotage de vos projets techniques au sein des filières agricoles végétales et animales.</p>
				<h5>Exemples d'études <span class="glyphicon glyphicon-menu-down"></span></h5>
				<div class="studies">
					<div>
						<h6>Exemple 1</h6>
						<p>Analyse bibliographique des plans européens (FAEDER, FSE, FEDER) afin de cartographier l’offre potentiel de l'organisme associée à ces fonds européens.</p>
					</div>
					<div>
						<h6>Exemple 2</h6>
						<p>Étude de marché des produits bios et locaux dans l’agglomération de Rodez.</p>
					</div>
				</div>
			</div>
			<div>
				<h4>Viticulture</h4>
				<p>Réalisation de vos projets sur la conduite de la vigne, l’élaboration de la qualité du raisin et des vins, les techniques de vinifications, l’influence du terroir, les contraintes environnementales et réglementaires.</p>
				<h5>Exemples d'études <span class="glyphicon glyphicon-menu-down"></span></h5>
				<div class="studies">
					<div>
						<h6>Exemple 1</h6>
						<p>Étude de concurrence de la filière collecte/approvisionnement d’une coopérative viticole.</p>
					</div>
					<div>
						<h6>Exemple 2</h6>
						<p>Réalisation d'un dossier sur les cépages patrimoniaux pour caractériser l’intégration dans l'IGP des collines rhodaniennes.</p>
					</div>
				</div>
			</div>
			<div>
				<h4>Agriculture dans les pays du Sud</h4>
				<p>Réalisation et pilotage de vos projets techniques au sein des filières agricoles végétales et animales dans les pays dits du “Sud” en lien avec le développement durable.</p>
				<h5>Exemples d'études <span class="glyphicon glyphicon-menu-down"></span></h5>
				<div class="studies">
					<div>
						<h6>Exemple 1</h6>
						<p>Étude de faisabilité et dimensionnement d’une unité de transformation de la spiruline à Madagascar.</p>
					</div>
					<div>
						<h6>Exemple 2</h6>
						<p>Rédaction d’un cahier des charges détaillant la fabrication industrielle de deux plats africains : le Colombo et le Tieb.</p>
					</div>
				</div>
			</div>
			<div>
				<h4>Agroalimentaire</h4>
				<p>Réalisation et accompagnement de vos projets de la formulation jusqu’à la commercialisation d’un produit alimentaire. Mais aussi des projets en lien avec la santé et la nutrition.</p>
				<h5>Exemples d'études <span class="glyphicon glyphicon-menu-down"></span></h5>
				<div class="studies">
					<div>
						<h6>Exemple 1</h6>
						<p>Étude de marché pour déterminer les attentes des parents vis-à-vis de produits « babyfood » à base d’ingrédients biologiques et locaux.</p>
					</div>
					<div>
						<h6>Exemple 2</h6>
						<p>Élaborer une nouvelle voie de valorisation pour les coproduits d'une entreprise agro-alimentaire fournissant des ovoproduits liquides aux industriels fabriquant des produits élaborés : coquilles avec leurs membranes, en identifiant les équipements et les pratiques nécessaires.</p>
					</div>
				</div>
			</div>
			<div>
				<h4>Agriculture numérique</h4>
				<p>Accompagnement dans le développement de vos projets innovants en matière de nouvelles technologies appliquées au secteur de l’agriculture.</p>
				<h5>Exemples d'études <span class="glyphicon glyphicon-menu-down"></span></h5>
				<div class="studies">
					<div>
						<h6>Exemple 1</h6>
						<p>Conception d’un logiciel pédagogique pour faciliter l’apprentissage des étudiants quant à amélioration génétique des plantes.</p>
					</div>
					<div>
						<h6>Exemple 2</h6>
						<p>Étude de marché et pistes d’amélioration de la diffusion des détecteurs de chaleur en élevage ovin.</p>
					</div>
				</div>
			</div>
			<div class="active">
				<p><span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-left"></span>Cliquez sur l'un des domaines pour avoir plus d'informations et les études associées.</p>
			</div>
		</div>
	</div>
</section>