<section id="undertaking" class="undertaking">
	<div class="header">
		<h2>Nos engagements</h2>
	</div>
	<div class="content">
		<h3><i class="fa fa-briefcase"></i>Professionnalisme</h3>
		<p>Notre label Junior-Entreprise est un gage de qualité dans le monde professionnel</p>
		<h3><i class="fa fa-check-square-o"></i>Adéquation à votre projet</h3>
		<p>Une analyse personnalisée de vos besoins et des étudiants sélectionnés et formés pour y répondre</p>
		<h3><i class="fa fa-clock-o"></i>Réactivité</h3>
		<p>Une réponse à votre devis avant 72 h</p>
		<h3><i class="fa fa-lightbulb-o"></i>Créativité</h3>
		<p>Des étudiants jeunes non formatés par le monde du travail pour répondre à vos besoins</p>
		<h3><i class="fa fa-comments-o"></i>Communication</h3>
		<p>Un interlocuteur personnel vous informe de l’avancée de votre projet</p>
		<h3><i class="fa fa-shield"></i>Confidentialité</h3>
		<p>Une clause de confidentialité signée par tous les acteurs du projet</p>
	</div>
</section>