<section class="edito">
	<div class="header">
		<h2>Mot de la présidente</h2>
		<h3>Mélissa Hoffmann-Bernard</h3> 
		<div class="image-container">
			<img class="image" src="media/images/team/president.jpg" alt="Présidente de la JEMA">
		</div>
	</div>
	<div class="content">
		<p><span class="icon fa-quote-left"></span>Montpellier SupAgro, Grande Ecole d’ingénieurs agronomes parmi les meilleures de France, et le pôle scientifique de premier rang mondial dans lequel elle s’intègre, représenté par l’INRA et le CIRAD, offrent à la JEMA un environnement idéal pour la réalisation d’études à la pointe de l’agronomie, de l’agro-alimentaire et de la gestion de l’environnement.</p>
		<p>Forts d’enseignements d’excellence, plus de 1000 étudiants aux profils riches, aux nationalités diverses et aux compétences multiples, nous permettent de mettre à profit la qualité d’une formation pluridisciplinaire et de spécialisations emblématiques – viticulture et œnologie, agroécologie, développement durable au sud – afin de satisfaire les demandes des grandes entreprises, des PME, des start-ups, des associations...</p>
		<p>Pour ce faire, nous réalisons des études sur mesure et garantissons à nos clients un suivi personnalisé, qui va de pair avec l’engagement, la démarche qualité et le professionnalisme que sont les nôtres.</p>
		<p>Au-delà de cette recherche d’excellence, propre à toute Junior Entreprise, c’est notre volonté d’agir pour des systèmes agricoles et agroalimentaires durables et pour la préservation de l’environnement qui nous pousse à répondre, avec passion et intégrité, à vos besoins présents et futurs.</p>
		<p>Ensemble, cultivons votre réussite <span class="icon fa-quote-right"></span></p>
	</div>
</div>