@import url('https://fonts.googleapis.com/css?family=Roboto|Indie+Flower|Ubuntu');

body{
	padding-top:50px;
	font-family: 'Roboto', sans-serif;
}

a {
	color:#555555;
}

a:hover, a:active, a:focus{
	text-decoration:none;
	color:#555555;
}

.container-fluid,header h1, header h2{
	margin:0;
	padding:0;
}

.navbar-default{
	height:85px;
	box-shadow:0px 3px 9px -5px #080808;
	transition: 0.2s ease-in-out;
}

.navbar-nav{
	height:50px;
	position:relative;
}

#branding{
	padding:0;
	padding-top:5px;
	margin-right:10px;
	margin-left:0px;
	position:relative;
	width:160px;
}

.navbar-nav img{
	height:90px;
	position:absolute;
	margin:0;
	padding:0;
	margin-top:-10px;
	border-radius:50px;
	z-index: 3;
}

.navbar-nav .branding{
	height:160px;
	z-index:4;
}

.navbar-nav .logo{
	box-shadow:0px 5px 9px -5px #080808;
}

.nav-main-link{
	border-top:5px solid #5bb32b;
	width:180px;
	text-align: center;
	text-transform: uppercase;
	padding-top:17.5px;
	letter-spacing: 1px;
	transition: 0.2s ease-in-out;
}

.main-link-background{
	height:85px;
	width:100%;
	position:absolute;
	cursor:pointer;
	top:-85px;
	left:0;
	transition: 0.2s ease-in-out;
	background-image:url('../media/images/nav_main_links_background.jpg');
}

.navbar-default .navbar-nav>li>a {
	transition:0.2s;
}

.navbar-right{
	padding-right:20px;
}

#plaquette,#disconnect,#social-nav{
	margin-top:17.5px;
	margin-right:10px;
	transition: 0.2s ease-in-out;
	position: relative;
}

#social-nav{
	width:40px;
	height:40px;
}

#social-nav div{
	border-radius: 0;
	width:40px;
	height:40px;
	position:absolute;
	top:1px;
	cursor:pointer;
	transition: 0.2s ease-in-out;
	font-size:2.45em;
	background-color:white;
}

#social-nav div:nth-child(1):before{
	font-family: FontAwesome;
	content:"\f082";
	z-index:20;
}

#social-nav div:nth-child(2):before{
	font-family: FontAwesome;
	content:"\f081";
	z-index:21;
}

#social-nav div:nth-child(3):before{
	font-family: FontAwesome;
	content:"\f08c";
	z-index:22;
}

#social-nav div:nth-child(4):before{
	font-family: FontAwesome;
	content:"\f199";
	z-index:23;
}

#plaquette{
	padding:10px 10px 10px 10px;
}

#plaquette a{
	background-color:#37772b;
	color:white;
	height:30px;
	width:130px;
	border-radius:20px;
	text-align: center;
	padding:6px;
	transition: 0.2s ease-in-out;
}

#plaquette a:before {
	font-family: FontAwesome;
	content:"\f019";
	position: absolute;
	top: 6px;
	left: -30px;
	transition: all 200ms ease;
}

#plaquette a:hover{
	text-decoration: none;
	background-color:#5bb32b;
	padding-left:33px;
	transition: 0.2s ease-in-out;
}

#plaquette a:hover:before {
	left: 18px;
}

header{
	overflow:hidden;
	margin:0;
	background-image: url('../media/images/index_header.jpg');
	height:530px;
	min-height:0;
	background-attachment: fixed;
	background-position: bottom;
	position:relative;
}

.last-news{
	background-color: rgba(0,0,0,0.3);
	color:white;
	text-align: center;
	position: absolute;
	top:35px;
	height:40px;
	width:100%;
	transition: 0.2s ease-in-out;
}

.last-news p{
	transition: 0.2s ease-in-out;
	padding:10px;
	max-width:70%;
	margin:auto;
}

@media only screen and (max-width: 768px) {
  .last-news p{
  	max-width:100%;
  }
}

.last-news a{
	color:white;
	font-weight:bold;
	border:2px solid white;
	border-radius:20px;
	padding:4px 12px 4px 12px;
	transition:0.1s;
}

.last-news a:hover{
	color:#555;
	text-decoration: none;
	background-color:white;
	transition:0.1s;
}

.main-title{
	width:100%;
	padding-left:100px;
	margin:auto; 
	margin-top:220px;
	text-align: left;
	color:white;
	background-color:transparent;
}

header h1{
	font-size:7em;
	width:60%;
	font-weight:900;
	text-rendering: geometricPrecision;
	margin-bottom:30px;
}

header h2{
	font-size:1.5em;
	font-weight:900;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes horizontal-float {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0px);
	}
}

header img{
	position: absolute;
	right:20px;
	bottom:20px;
	width:150px;
	background-color:white;
}

.header-blank{
	position:absolute;
	bottom:0;
	width:100%;
	display:block;
	background-color:white;
	height:0;
	max-height:530px;
}

.arrow-bottom{
	height:100px;
	padding-top:45px;
	padding-right:25px;
	display:block;
	text-align: right;
	font-size:1.3em;
	letter-spacing: 2px;
	font-weight: lighter;
	transform: translatey(0px);
	animation: float 1.2s ease-in-out infinite;
}

.arrow-bottom a, .arrow-bottom a:hover{
	text-decoration: none;
	text-transform: uppercase;
}

.student-redirection,.company-redirection{
	padding:30px;
	padding-top:100px;
	height:625px;
	transition:border 0.1s ease-in-out;
	color:white;
	overflow: hidden;
	vertical-align: middle;
	width:50%;
	position:relative;
}

.student-redirection{
	float:left;
}

.student-redirection a, .company-redirection a, .student-redirection a:hover, .company-redirection a:hover{
	color:white;
	display:block;
}

.student-redirection{
	background-color: #5bb32b;
}

.company-redirection{
	background-color: #37772b;
}

.student-redirection:hover, .company-redirection:hover{
	transition:border 0.1s ease-in-out;
}

.left-student,.left-company{
	transition: 0.2s ease-in-out;
}

.right-student,.right-company{
	position:absolute;
	font-size:4em;
	top:317px;
	right:-50px;
}

.big-glyphicon{
	font-size:4em;
	font-weight: 900;
	border:5px solid white;
	border-radius:50px;
	padding:4%;
	margin:2%;
}

.student-redirection h4, .company-redirection h4{
	font-size:3.2em;
	font-weight: 900;
	text-transform: uppercase;
}

.student-redirection p, .company-redirection p{
	width:300px;
	margin:auto;
	text-align: justify;
	margin-top:1%;
	font-size:1.15em;
	opacity:0.2;
	transition: 0.2s ease-in-out;
}

.about{
	margin-top:50px;
	position: relative;
}

.about-redirection{
	width:100%;
	position:absolute;
	top:-140px;
	background-color:transparent;
	transition: padding-left 0.8s ease-in-out;
}

.about-redirection a{
	font-size:1.8em;
	text-align:center;
	margin:0;
	margin-bottom:10px;
	background-color:white;
	padding:30px 20px 40px 20px;
	width:50%;
	display:block;
	transition: 0.3s ease-in-out;
}

.about-redirection a:hover{
	color:#5bb32b;
}

.description-container{
	width:50%;
	float:left;
	max-height:400px;
	padding:60px 80px 40px 80px;
	transform: translateY(-20px);
	transition: 0.5s ease-in-out;
}

.description-container p{
	font-size:1.3em;
	text-align:justify;
	width:70%;
	line-height:23pt;
	margin:auto;
	margin-bottom:15px;
}

.description-container a{
	color:#5bb32b;
	opacity:0.8;
}

.description-container a:hover{
	opacity:1;
}

.big-letter{
	font-size:1.2em;
	background-color:#5bb32b;
	opacity:0.6;
	color:white;
	padding:2px 5px 2px 5px;
	margin-right:1px;
	margin-left:1px;
}

.illustration-container{
	width:50%;
	margin-left:50%;
	height:475px;
	background-image: url('../media/images/illustration.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}

.illustration-container img{
}

footer{
	height:315px;
	background-color: rgba(91,179,43,0.2);
}

.footer-contact, .footer-navigate, .footer-partners{
	margin-top:2%;
}

.footer-contact a, .footer-navigate a, .footer-partners a{
	color:#333;
	font-size:1.3em;
	letter-spacing: 2px;
	transition:0.1s ease-in-out;
}

.footer-contact a:hover, .footer-navigate a:hover, .footer-partners a:hover{
	text-decoration: none;
	color:#37772b;
}

.footer-contact a + p{
	margin-top:3%;
}

.footer-contact p + p{
	margin-bottom:5%;
}

.footer-navigate ul, .footer-reseaux ul, .footer-partners ul{
	list-style-type: none;
	padding:0;
}

.footer-navigate a + ul, .footer-partners a + ul{
	margin-top:3%;
}

.footer-navigate ul a{
	font-size:1em;
	letter-spacing:0;
	color:#555;
}

.footer-partners ul{
	width:63%;
	margin:auto;
}

.partners li{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

.partners li img{
	height:40px;
	max-width:100%;
	opacity:0.7;
	transition:0.1s;
}

.mobile-partners{
	display:none;
}

.footer-reseaux{
	width:100%;
}

.footer-reseaux ul{
	width:45%;
	position:relative;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}

.footer-reseaux ul:before{
	content:'';
	position:absolute;
	left:calc(-50% - 5px);
	top:calc(50% - 1px);
	border-bottom:1px solid rgba(85,85,85,0.4);
	width:80%;
}

.footer-reseaux ul:after{
	content:'';
	position:absolute;
	right:calc(-50% - 5px);
	top:calc(50% - 1px);
	border-bottom:1px solid rgba(85,85,85,0.4);
	width:80%;
}

.footer-reseaux ul li{
	display:inline-block;
	margin:0 0.5% 0 0.5%;
}

.footer-copyright p{
	font-size:0.9em;
}

@media only screen and (max-width: 1200px) {
	header h1 {
		font-size: 6.5em;
		width:70%;
	}
	header h2 {
		font-size: 1.2em;
	}
	.big-glyphicon{
		font-size:3em;
	}
}

@media only screen and (max-width: 992px) {
  header h1 {
    font-size: 6em;
	width:80%;
  }
  header h2 {
    font-size: 1em;
  }
	.big-glyphicon{
		font-size:2em;
	}
	.student-redirection h4, .company-redirection h4{
		font-size:2em;
	}
	.footer-reseaux ul:before{
		width:70%;
	}
	.footer-reseaux ul:after{
		width:70%;
	}

}

@media only screen and (max-width: 768px) {
	.main-title{
		padding-left:50px;
	}
  header h1 {
    font-size: 5em;
	width:90%;
  }
  header h2 {
    font-size: 1em;
  }
	.big-glyphicon{
		font-size:2em;
	}
	.student-redirection, .company-redirection{
		width:100%;
	}
	.student-redirection h4, .company-redirection h4{
		font-size:3em;
	}
	.about-redirection{
		top:565px;
	}
	.about-redirection a{
		padding:40px 20px 40px 20px;
		width:60%;
		font-size:1.5em;
	}
	.partners{
		display:none;
	}
	.mobile-partners{
		display:block;
	}
	.footer-reseaux ul:before{
		width:60%;
	}
	.footer-reseaux ul:after{
		width:60%;
	}
}

@media only screen and (max-width: 576px) {
	.main-title{
		padding-left:50px;
	}
	header h1 {
		font-size: 4em;
		width:100%;
	}
	header h2 {
		font-size: 0.8em;
	}
	.big-glyphicon{
		font-size:1em;
	}
	.student-redirection, .company-redirection{
		width:100%;
	}
	.student-redirection h4, .company-redirection h4{
		font-size:3em;
	}	
	.about-redirection{
		top:570px;
	}
	.about-redirection a{
		padding:40px 20px 40px 20px;
		font-size:1.1em;
		width:70%;
	}
	.partners{
		display:none;
	}
	.mobile-partners{
		display:block;
	}
	.footer-reseaux ul:before{
		width:50%;
	}
	.footer-reseaux ul:after{
		width:50%;
	}
}

.news-content{
	padding:50px 150px 50px 150px;
	color:#555;
}

.news-content h1{
	color:#37772b;
	font-size:4em;
}

.news-content h5{
	font-style: italic;
	opacity:0.95;
}

.news-content h4{
	opacity:0.5;
	font-size:1.1em;
	font-weight: bolder;
}

.news-content p{
	font-size:1.2em;
	line-height: 21pt;
	text-align: justify;
}